xml/site-export.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root Element -->
  <xs:element name="site" type="siteType"/>

  <!-- Type Definitions -->
  <xs:complexType name="siteType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="baseURL" type="xs:anyURI"/>
      <xs:element name="buildDate" type="xs:dateTime"/>
      <xs:element name="languages">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="language" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="content" type="contentType"/>
                  <xs:element name="taxonomies" type="siteTaxonomiesType"/>
                </xs:sequence>
                <xs:attribute name="code" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sectionType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="permalink" type="xs:anyURI"/>
      <xs:element name="path" type="xs:string"/>
      <xs:element name="taxonomies" type="pageTaxonomiesType" minOccurs="0"/>
      <xs:element name="pages">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="page" type="pageType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Recursive definition for sub-sections -->
      <xs:element name="section" type="sectionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="isPrimary" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:complexType name="pageType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="permalink" type="xs:anyURI"/>
      <xs:element name="path" type="xs:string"/>
      <xs:element name="date" type="xs:dateTime"/>
      <xs:element name="lastmod" type="xs:dateTime"/>
      <xs:element name="content" type="cdataBlock"/>
      <xs:element name="rawcontent" type="cdataBlock"/>
      <xs:element name="frontmatter">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param" type="paramType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="taxonomies" type="pageTaxonomiesType" minOccurs="0"/>
      <xs:element name="resources">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="resource" type="resourceType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="isPrimary" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:complexType name="cdataBlock" mixed="true">
    <xs:attribute name="type" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="paramType" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element name="value" type="valueType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="item" type="itemType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="param" type="paramType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="key" type="xs:string" use="required"/> <xs:attribute name="type" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="resourceType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="permalink" type="xs:anyURI"/>
      <xs:element name="type" type="xs:string"/>
      <xs:sequence minOccurs="0">
        <xs:element name="width" type="xs:integer"/>
        <xs:element name="height" type="xs:integer"/>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element name="param" type="paramType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="valueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="pageTaxonomiesType">
    <xs:sequence>
      <xs:element name="taxonomy" type="pageTaxonomyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pageTaxonomyType">
    <xs:sequence>
      <xs:element name="term" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="permalink" type="xs:anyURI" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="siteTaxonomiesType">
    <xs:sequence>
      <xs:element name="taxonomy" type="siteTaxonomyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="siteTaxonomyType">
    <xs:sequence>
      <xs:element name="term" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="permalink" type="xs:anyURI"/>
            <xs:element name="count" type="xs:integer"/>
            <xs:element name="page" type="pageRefType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="pageRefType">
    <xs:attribute name="idref" type="xs:IDREF" use="required"/>
    <xs:attribute name="url" type="xs:anyURI" use="optional"/>
  </xs:complexType>

  <xs:complexType name="contentType">
    <xs:sequence>
      <xs:element name="page" type="pageType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="section" type="sectionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>